
@using Microsoft.AspNetCore.Identity


@model BlogModel
@inject UserManager<AppUSer> userManager




@if (Convert.ToString(userManager.GetUserId(User)) == Convert.ToString(Model.appUSer.Id))
{
    <div class="container">
      
        <header class="my-4">
            <h1 class="display-4">Blog Detail</h1>
        </header>
     
        <div class="row">
            <div class="col-md-8">



                <img src=@Model.ImageUrl class="img-fluid mb-4" alt="Blog Image">

                <h2 class="lead">@Model.Title</h2>
                <p>@Model.Description</p>

                <p class="text-muted">Author:@Model.appUSer.UserName</p>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Comment</h5>
                        <ul class="list-group list-group-flush">
                            @if (Model.commentModels != null && Model.commentModels.Any())
                            {  @foreach (var cmt in Model.commentModels)
                                {
                                    <p>@cmt.Comment</p>

                                }
                            }
                            else
                            {
                                <p>No comment</p>
                            }
                        </ul>
                    </div>
                </div>
                <form method="post" asp-action="AddComment" asp-controller="Blog">
                    <div class="form-group mb-3">
                        <input name="blogId" value="@Model.Id" type="hidden" class="form-control">
                      
                       
                        <label>Add Comment</label>
                        <input name="content" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
         
        </div>
    </div>

    <a asp-route-id="@Model.Id" asp-controller="Blog" asp-action="Delete" class="btn btn-danger">delete</a>
    <a asp-route-id="@Model.Id" asp-controller="Blog" asp-action="Edit" class="btn btn-primary">Edit</a>
}
else
{
    <div class="container">

        <header class="my-4">
            <h1 class="display-4">Blog Detail</h1>
        </header>

        <div class="row">
            <div class="col-md-8">

                <img src=@Model.ImageUrl class="img-fluid mb-4" alt="Blog Image">

                <h2 class="lead">@Model.Title</h2>

                <p>@Model.Description</p>

                <p class="text-muted">Author:@Model.appUSer.UserName</p>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Comment</h5>
                        <ul class="list-group list-group-flush">
                            @if (Model.commentModels != null && Model.commentModels.Any())
                            {  @foreach (var cmt in Model.commentModels)
                                {
                                    <p>@cmt.Comment</p>

                                }
                            }
                            else
                            {
                                <p>No comment</p>
                            }

                         </ul>
                    </div>
                </div>
                <form method="post" asp-action="AddComment" asp-controller="Blog">
                    <div class="form-group mb-3">
                        <input name="blogId" value="@Model.Id" type="hidden" class="form-control">

                        <label>Add Comment</label>
                        <input name="content" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>

        </div>
    </div>

}
